{% extends "base.html" %}
{% load fiber_tags%}

{% block main_content %}

    <section class="content">
        {% if announcement_list %}
            {% for announcement in announcement_list %}
                <div class="content">
                <h2>{{ announcement.title }}</h2>
                {{ announcement.stub|safe }}
                <p><a href="{%  url 'base:detail' announcement.id %}">more...</a></p>
                </div>
                <hr/>
            {% endfor %}
        {% else %}
            <p>There are no active announcements.</p>
        {% endif %}
    </section>
{% endblock %}